<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="header">
        <h1>Watson</h1>
    </div>
    <div class="login">
        <h2>IBM</h2>
        <h3>CONFIG COGNITIVE APPLICATION</h3>
        <input type="text" id="userid" placeholder="Intranet ID" size="55"/>
        <input type="text" id="userpw" placeholder="Password" size="55" />
        <div class="submitpw">
          <button id="signinbtn">Sign In</button>
          <a href="https://w3idprofile.sso.ibm.com/password/createpwd_lookup_otp.wss" id="forgetpw" target="_blank">Forget Password?</a>
        </div>
    </div>
    <div class="api-link">
      <ul>
        <li><a href="http://www.ibm.com/watson/developercloud/services-catalog.html" target="_blank">Watson API  |</a></li>
        <li><a href="http://www.ibm.com/watson/developercloud/alchemy-language.html" target="_blank">&nbsp;&nbsp;Alchemy Language  |</a></li>
        <li><a href="http://www.ibm.com/watson/developercloud/document-conversion.html" target="_blank">&nbsp;&nbsp;Document Conversion  |</a></li>
        <li><a href="http://www.ibm.com/watson/developercloud/retrieve-rank.html" target="_blank">&nbsp;&nbsp;Retrieve and Rank</a></li>
      </ul>
    </div>
  </body>
</html>
