<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/query.css' />
  </head>
  <body>
    <div class="header">
        <h1>Watson Data Mining</h1>
        <img src="<%= imageURL %>" alt="" />
    </div>
    <div class="side-nav">
        <ul>
            <li><a href="query/mfc" target="iframeMain">MFC Sourse Analyze</a></li>
            <li><a href="query/sova" target="iframeMain">SOVA Sourse Analyze</a></li>
            <li><a href="query/bi" target="iframeMain">BI Version Analyze</a></li>
            <li><a href="query/watson" target="iframeMain">Watson Rebot</a></li>
        </ul>
    </div>
    <div id="main">
      <iframe name="iframeMain" src="query/mfc" frameborder="no" scrolling="auto" width="100%" height="100%" allowtransparency="true"></iframe>
    </div>
  </body>
</html>
