<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/query.css' />
  </head>
  <body>
    <div class="header">
        <h1>Watson Data Mining</h1>
    </div>
  </body>
</html>
