body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sova_input{
    width:80%;
    height: 30px;
    margin: 0 auto;
    
}
#sova_btn{
    width: 80px;
    height: 30px;
    background-color: gray;
}
.queryDiv{
    width: 80%;
}
.queryAnswer{
    margin-top: 5px;
    height: 80px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 8px 0;
    margin-bottom: 5px; 
    transition:all .3s;
}
.queryAnswer.open{
    height: auto;
}