<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id='sova_query'>
        <input type="text" id='sova_input'/>
        <button id='sova_btn'>query</button>
        
        <div id="result" class="queryDiv">
        
        </div>
        
        
    </div>
  <script src="/javascripts/jquery.min.js"></script>
  </body>

  <script>
    $(document).ready(function() {
        $('#sova_btn').click(function() {
            var notetext = $('#sova_input').val();
            $.post('/sova/rank',{text: notetext}, datashow);
        });

        function datashow(data){
            $('#result').html("");
            var i, j,
                str='';
            for(i=0; i<4; i++){
                j = i+1;
                str += '<p>'+'Answer'+'&nbsp'+'&nbsp'+j+'<br/>'+data[i].body+'</p>';
            }
            $('#result').append(str);
        }
        $("body").delegate('.queryDiv p', 'click', function() {
            if($(this).hasClass('open')){
                $(this).removeClass('open');
            }else{
                $(this).addClass('open');
            }
        });
    });
  </script>
</html>
